{
  "swagger": "2.0",
  "info": { "version": "1.0" },
  "host": "api.pone.duomimall.com",
  "basePath": "/",
  "tags": [
    { "name": "APP接口", "description": "App Controller" },
    { "name": "任务接口", "description": "Task Controller" },
    { "name": "体验券接口", "description": "Coupon Controller" },
    { "name": "商品接口", "description": "Product Controller" },
    { "name": "支付接口", "description": "Payment Controller" },
    { "name": "活动接口", "description": "Activity Controller" },
    { "name": "用户接口", "description": "User Controller" },
    { "name": "监控接口", "description": "Monitor Controller" },
    { "name": "短信接口", "description": "Sms Controller" },
    { "name": "行情接口", "description": "Quote Controller" },
    { "name": "订单接口", "description": "Order Controller" },
    { "name": "设置接口", "description": "Sys Controller" },
    { "name": "资金接口", "description": "Fund Controller" },
    { "name": "运营接口", "description": "Operate Controller" },
    { "name": "风控接口", "description": "Risk Controller" }
  ],
  "paths": {
    "/api/activity/newUser/guide": {
      "get": {
        "tags": ["活动接口"],
        "summary": "新手引导-不需要登录态",
        "operationId": "newUserGuideWithNoAuthUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«NewUserGuideVO»",
              "originalRef": "SingleResponse«NewUserGuideVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/activity/oauth/newUser/guide": {
      "get": {
        "tags": ["活动接口"],
        "summary": "新手引导",
        "operationId": "newUserGuideUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«NewUserGuideVO»",
              "originalRef": "SingleResponse«NewUserGuideVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/app/active": {
      "get": {
        "tags": ["APP接口"],
        "summary": "激活",
        "operationId": "activeUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "brand", "in": "query", "description": "brand", "required": false, "type": "string" },
          { "name": "channelType", "in": "query", "description": "channelType", "required": false, "type": "string" },
          {
            "in": "body",
            "name": "clientIp",
            "description": "clientIp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "clientType",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          { "name": "idfa", "in": "query", "description": "idfa", "required": false, "type": "string" },
          { "name": "model", "in": "query", "description": "model", "required": false, "type": "string" },
          { "name": "oaid", "in": "query", "description": "oaid", "required": false, "type": "string" },
          { "name": "os_version", "in": "query", "description": "os_version", "required": false, "type": "string" },
          { "name": "udid", "in": "query", "description": "udid", "required": false, "type": "string" },
          { "name": "uuid", "in": "query", "description": "uuid", "required": false, "type": "string" }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/app/init": {
      "get": {
        "tags": ["APP接口"],
        "summary": "初始化",
        "operationId": "initUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«AppInitVO»", "originalRef": "SingleResponse«AppInitVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/coupon/oauth/exchange": {
      "post": {
        "tags": ["体验券接口"],
        "summary": "兑换体验券",
        "operationId": "exchangeUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/ExchangeCmd", "originalRef": "ExchangeCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/coupon/oauth/list": {
      "get": {
        "tags": ["体验券接口"],
        "summary": "查询用户的所有体验券",
        "operationId": "listCouponUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "状态 0-未使用；1-已使用；2-已过期",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/MultiResponse«CouponVO»", "originalRef": "MultiResponse«CouponVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/coupon/oauth/list/exchange": {
      "get": {
        "tags": ["体验券接口"],
        "summary": "查询可兑换的体验券",
        "operationId": "listExchangeUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«PromotionVO»",
              "originalRef": "MultiResponse«PromotionVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/fund/oauth/balance": {
      "get": {
        "tags": ["资金接口"],
        "summary": "查询余额",
        "operationId": "queryBalanceUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«BalanceVO»", "originalRef": "SingleResponse«BalanceVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/fund/oauth/contract/history": {
      "get": {
        "tags": ["资金接口"],
        "summary": "查询收支记录",
        "operationId": "queryPaymentRecordUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "currentPage",
            "description": "当前页码",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "month", "in": "query", "description": "年月", "required": false, "type": "string" },
          {
            "in": "body",
            "name": "pageSize",
            "description": "每页条数",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "in": "body",
            "name": "type",
            "description": "费项类型 WITHDRAW-提现；RECHARGE-充值；",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«PaymentRecordVO»",
              "originalRef": "MultiResponse«PaymentRecordVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/fund/oauth/password/create": {
      "post": {
        "tags": ["资金接口"],
        "summary": "首次设置资金密码",
        "operationId": "passwordCreateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/PasswordCreateCmd", "originalRef": "PasswordCreateCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/fund/oauth/password/reset": {
      "post": {
        "tags": ["资金接口"],
        "summary": "重置资金密码",
        "operationId": "passwordResetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/PasswordResetCmd", "originalRef": "PasswordResetCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/fund/oauth/password/update": {
      "post": {
        "tags": ["资金接口"],
        "summary": "修改资金密码",
        "operationId": "passwordUpdateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/PasswordUpdateCmd", "originalRef": "PasswordUpdateCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/monitor/appLog/collect": {
      "post": {
        "tags": ["监控接口"],
        "summary": "APP日志收集",
        "operationId": "appLogCollectUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/AppLogCollectCmd", "originalRef": "AppLogCollectCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/app/lastVersion": {
      "get": {
        "tags": ["运营接口"],
        "summary": "客户端最新版本",
        "operationId": "queryLastVersionUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "clientType",
            "description": "客户端类型 1-安卓；2-IOS",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "in": "body",
            "name": "channelType",
            "description": "channelType",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«AppVersionVO»",
              "originalRef": "SingleResponse«AppVersionVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/banner": {
      "get": {
        "tags": ["运营接口"],
        "summary": "banner位",
        "operationId": "queryBannerUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "positionId",
            "description": "位置ID 1-APP首页；2-零售商城首页",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/MultiResponse«BannerVO»", "originalRef": "MultiResponse«BannerVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/economicNews/calendar": {
      "get": {
        "tags": ["运营接口"],
        "summary": "财经日历",
        "operationId": "queryEconomicCalendarsUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "date",
            "description": "日历日期 yyyy-MM-dd",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«EconomicCalendarVO»",
              "originalRef": "MultiResponse«EconomicCalendarVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/economicNews/flash": {
      "get": {
        "tags": ["运营接口"],
        "summary": "实时资讯",
        "operationId": "queryEconomicFlashsUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "dateTime",
            "description": "查询时间 yyyy-MM-dd HH:mm:ss",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«EconomicFlashVO»",
              "originalRef": "MultiResponse«EconomicFlashVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/notice": {
      "get": {
        "tags": ["运营接口"],
        "summary": "公告",
        "operationId": "queryNoticeUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/MultiResponse«NoticeVO»", "originalRef": "MultiResponse«NoticeVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/notify/day": {
      "get": {
        "tags": ["运营接口"],
        "summary": "每日通知",
        "operationId": "queryNotifyDayUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«NotifyDayVO»",
              "originalRef": "SingleResponse«NotifyDayVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/orderAmountRank": {
      "get": {
        "tags": ["运营接口"],
        "summary": "订购金额排行榜",
        "operationId": "queryOrderAmountRankUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«OrderAmountRankVO»",
              "originalRef": "MultiResponse«OrderAmountRankVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/operate/sellRank": {
      "get": {
        "tags": ["运营接口"],
        "summary": "盈利排行榜",
        "operationId": "querySellRankUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/MultiResponse«SellRankVO»", "originalRef": "MultiResponse«SellRankVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/good": {
      "get": {
        "tags": ["订单接口"],
        "summary": "首页牛单广场",
        "operationId": "queryGoodOrderUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«GoodOrderVO»",
              "originalRef": "MultiResponse«GoodOrderVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/contract/close": {
      "post": {
        "tags": ["订单接口"],
        "summary": "同步退订",
        "operationId": "closeContractOrderUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/ContractOrderCloseCmd", "originalRef": "ContractOrderCloseCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/contract/create": {
      "post": {
        "tags": ["订单接口"],
        "summary": "同步订购",
        "operationId": "createContractOrderUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/ContractOrderCreateCmd", "originalRef": "ContractOrderCreateCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/contract/history": {
      "get": {
        "tags": ["订单接口"],
        "summary": "历史订单记录",
        "operationId": "contractHistoryUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "currentPage",
            "description": "当前页码",
            "required": true,
            "schema": { "type": "string" }
          },
          { "in": "body", "name": "month", "description": "年月", "required": true, "schema": { "type": "string" } },
          {
            "in": "body",
            "name": "pageSize",
            "description": "每页条数",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«OrderContractVO»",
              "originalRef": "MultiResponse«OrderContractVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/contract/holding": {
      "get": {
        "tags": ["订单接口"],
        "summary": "持仓列表",
        "operationId": "contractHoldingUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«OrderContractVO»",
              "originalRef": "MultiResponse«OrderContractVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/contract/order/delivery": {
      "get": {
        "tags": ["订单接口"],
        "summary": "提货页面",
        "operationId": "queryContractOrderDeliveryUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "orderNum",
            "description": "订单号",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«ContractOrderDeliveryVO»",
              "originalRef": "SingleResponse«ContractOrderDeliveryVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["订单接口"],
        "summary": "提货",
        "operationId": "contractOrderDeliveryUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/ContractOrderDeliveryCmd", "originalRef": "ContractOrderDeliveryCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/contract/update": {
      "post": {
        "tags": ["订单接口"],
        "summary": "修改订购订单",
        "operationId": "updateContractOrderUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/ContractOrderUpdateCmd", "originalRef": "ContractOrderUpdateCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/delivery/confirmReceived": {
      "post": {
        "tags": ["订单接口"],
        "summary": "确认收货",
        "operationId": "confirmReceivedUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryConfirmReceivedCmd",
              "originalRef": "DeliveryConfirmReceivedCmd"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/limit/cancel": {
      "post": {
        "tags": ["订单接口"],
        "summary": "同步撤单",
        "operationId": "cancelLimitOrderUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/LimitOrderCancelCmd", "originalRef": "LimitOrderCancelCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/limit/create": {
      "post": {
        "tags": ["订单接口"],
        "summary": "同步挂单",
        "operationId": "createLimitOrderUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/LimitOrderCreateCmd", "originalRef": "LimitOrderCreateCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/limit/history": {
      "get": {
        "tags": ["订单接口"],
        "summary": "挂单历史记录",
        "operationId": "limitHistoryUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "currentPage",
            "description": "当前页码",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "month",
            "in": "query",
            "description": "年月 可空，为空默认查询所有数据",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "pageSize",
            "description": "每页条数",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«OrderLimitVO»",
              "originalRef": "MultiResponse«OrderLimitVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/limit/list": {
      "get": {
        "tags": ["订单接口"],
        "summary": "挂单列表",
        "operationId": "limitListUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«OrderLimitVO»",
              "originalRef": "MultiResponse«OrderLimitVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/newUserCoupon/create": {
      "post": {
        "tags": ["订单接口"],
        "summary": "新手券下单",
        "operationId": "createOrderByNewUserCouponUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewUserCouponOrderCreateCmd",
              "originalRef": "NewUserCouponOrderCreateCmd"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/retail/create/multi": {
      "post": {
        "tags": ["订单接口"],
        "summary": "同步零售(多商品)",
        "operationId": "createRetailOrderMultiProductUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetailOrderCreateMultiProductCmd",
              "originalRef": "RetailOrderCreateMultiProductCmd"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/retail/list": {
      "get": {
        "tags": ["订单接口"],
        "summary": "查询提货单",
        "operationId": "queryDeliveryUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "订单状态 1-待发货；2-待收货；3-已完成",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«DeliveryOrderVO»",
              "originalRef": "MultiResponse«DeliveryOrderVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/order/oauth/retail/order/confirm": {
      "get": {
        "tags": ["订单接口"],
        "summary": "零售商城确认订单页面",
        "operationId": "queryRetailOrderConfirmUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«RetailOrderConfirmVO»",
              "originalRef": "SingleResponse«RetailOrderConfirmVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/bank/list": {
      "get": {
        "tags": ["支付接口"],
        "summary": "查询银行列表",
        "operationId": "querySupportedBankUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "payCode",
            "in": "query",
            "description": "支付渠道（提现时不用传）",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payType",
            "description": "渠道类型 1-充值 2-提现",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«SupportedBankVO»",
              "originalRef": "MultiResponse«SupportedBankVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/card/bindingInfo": {
      "get": {
        "tags": ["支付接口"],
        "summary": "查询用户绑卡信息（充值和提现）",
        "operationId": "queryCardBindingInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "payCode",
            "in": "query",
            "description": "支付渠道（提现时不用传）",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payType",
            "description": "渠道类型 1-充值 2-提现",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«CardBindingInfoVO»",
              "originalRef": "SingleResponse«CardBindingInfoVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/card/unbind": {
      "post": {
        "tags": ["支付接口"],
        "summary": "解绑（充值和提现）",
        "operationId": "cardUnbindUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/CardUnbindCmd", "originalRef": "CardUnbindCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/cashierPay": {
      "post": {
        "tags": ["支付接口"],
        "summary": "收银台支付",
        "operationId": "cashierPayUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/CashierPayCmd", "originalRef": "CashierPayCmd" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«CashierPayVO»",
              "originalRef": "SingleResponse«CashierPayVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/channel": {
      "get": {
        "tags": ["支付接口"],
        "summary": "支付渠道列表",
        "operationId": "listChannelUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«PaymentChannelVO»",
              "originalRef": "MultiResponse«PaymentChannelVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/fastPay/bind/apply": {
      "post": {
        "tags": ["支付接口"],
        "summary": "杉德快捷支付-绑卡签约申请",
        "operationId": "fastBindApplyUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/FastBindApplyCmd", "originalRef": "FastBindApplyCmd" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«FastBindApplylVO»",
              "originalRef": "SingleResponse«FastBindApplylVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/fastPay/bind/confirm": {
      "post": {
        "tags": ["支付接口"],
        "summary": "杉德快捷支付-绑卡签约确认",
        "operationId": "fastBindConfirmUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/FastBindConfirmCmd", "originalRef": "FastBindConfirmCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/fastPay/pay/apply": {
      "post": {
        "tags": ["支付接口"],
        "summary": "杉德快捷支付-支付申请",
        "operationId": "fastPayApplyUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/FastPayApplyCmd", "originalRef": "FastPayApplyCmd" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«FastPayApplylVO»",
              "originalRef": "SingleResponse«FastPayApplylVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/fastPay/pay/confirm": {
      "post": {
        "tags": ["支付接口"],
        "summary": "杉德快捷支付-支付确认",
        "operationId": "fastPayConfirmUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "clientIp",
            "description": "clientIp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/FastPayConfirmCmd", "originalRef": "FastPayConfirmCmd" }
          },
          { "name": "oaid", "in": "query", "description": "oaid", "required": false, "type": "string" },
          { "name": "udid", "in": "query", "description": "udid", "required": false, "type": "string" }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/superviseCard": {
      "get": {
        "tags": ["支付接口"],
        "summary": "查询监护行信息",
        "operationId": "superviseCardUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«SuperviseCardVO»",
              "originalRef": "SingleResponse«SuperviseCardVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/verify/code/resend": {
      "post": {
        "tags": ["支付接口"],
        "summary": "重发短信验证码（支付）",
        "operationId": "verifyCodeResendUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/VerifyCodeResendCmd", "originalRef": "VerifyCodeResendCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/withdraw": {
      "post": {
        "tags": ["支付接口"],
        "summary": "提现",
        "operationId": "withdrawUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/WithdrawCmd", "originalRef": "WithdrawCmd" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«WithdrawVO»",
              "originalRef": "SingleResponse«WithdrawVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/payment/oauth/withdraw/card/bind": {
      "post": {
        "tags": ["支付接口"],
        "summary": "提现绑卡",
        "operationId": "withdrawBindCardUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/WithdrawBindCardCmd", "originalRef": "WithdrawBindCardCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/contract/coupon": {
      "get": {
        "tags": ["商品接口"],
        "summary": "订购商品兑换券",
        "operationId": "couponUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "skuId",
            "description": "商品skuID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«ProductContractCouponVO»",
              "originalRef": "SingleResponse«ProductContractCouponVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/contract/product/detail": {
      "get": {
        "tags": ["商品接口"],
        "summary": "订购商品详情页",
        "operationId": "contractProductDetailUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "contract",
            "description": "行情编号",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«ProductContractDetailVO»",
              "originalRef": "SingleResponse«ProductContractDetailVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/contract/sku": {
      "get": {
        "tags": ["商品接口"],
        "summary": "订购商品规格列表",
        "operationId": "skuUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "contract",
            "description": "行情编号",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«ProductContractSkuVO»",
              "originalRef": "MultiResponse«ProductContractSkuVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/contract/sku/limit": {
      "get": {
        "tags": ["商品接口"],
        "summary": "查询sku的止盈止损限制",
        "operationId": "querySkuLimitUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "contractType",
            "description": "订购方式 1-现金；2-券；3-积分",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "couponId", "in": "query", "description": "券ID", "required": false, "type": "string" },
          {
            "in": "body",
            "name": "productId",
            "description": "商品ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«ProductContractLimitVO»",
              "originalRef": "SingleResponse«ProductContractLimitVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/contract/spu": {
      "get": {
        "tags": ["商品接口"],
        "summary": "订购商品类别列表",
        "operationId": "spuUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«ProductContractSpuVO»",
              "originalRef": "MultiResponse«ProductContractSpuVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/contract/spuAndSku": {
      "get": {
        "tags": ["商品接口"],
        "summary": "订购商品及sku列表",
        "operationId": "spuAndSkuUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«ProductContractSpuVO»",
              "originalRef": "MultiResponse«ProductContractSpuVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/oauth/cart": {
      "get": {
        "tags": ["商品接口"],
        "summary": "查询购物车",
        "operationId": "retailCartUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«RetailCartVO»",
              "originalRef": "MultiResponse«RetailCartVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/oauth/cart/number/add": {
      "post": {
        "tags": ["商品接口"],
        "summary": "购物车增加数量",
        "operationId": "cartAddNumberUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/RetailCartChangeNumberCmd", "originalRef": "RetailCartChangeNumberCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/oauth/cart/number/sub": {
      "post": {
        "tags": ["商品接口"],
        "summary": "购物车减少数量",
        "operationId": "cartSubNumberUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/RetailCartChangeNumberCmd", "originalRef": "RetailCartChangeNumberCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/oauth/cart/product/add": {
      "post": {
        "tags": ["商品接口"],
        "summary": "加入购物车",
        "operationId": "cartAddProductUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/RetailCartAddProductCmd", "originalRef": "RetailCartAddProductCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/oauth/cart/product/delete": {
      "post": {
        "tags": ["商品接口"],
        "summary": "购物车删除",
        "operationId": "cartDeleteProductUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetailCartDeleteProductCmd",
              "originalRef": "RetailCartDeleteProductCmd"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/retail/detail": {
      "get": {
        "tags": ["商品接口"],
        "summary": "零售商品详情",
        "operationId": "retailDetailUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "productId",
            "description": "商品ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«ProductRetailVO»",
              "originalRef": "SingleResponse«ProductRetailVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/retail/home": {
      "get": {
        "tags": ["商品接口"],
        "summary": "零售商城首页",
        "operationId": "retailHomeUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«RetailHomeVO»",
              "originalRef": "SingleResponse«RetailHomeVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/retail/products": {
      "get": {
        "tags": ["商品接口"],
        "summary": "零售商城所有商品列表",
        "operationId": "retailProductsUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«ProductRetailVO»",
              "originalRef": "MultiResponse«ProductRetailVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/product/sku/product/detail": {
      "get": {
        "tags": ["商品接口"],
        "summary": "单个订购商品详情页",
        "operationId": "productSkuDeliveryUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "in": "body", "name": "skuId", "description": "skuId", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«ProductContractDeliveryVO»",
              "originalRef": "SingleResponse«ProductContractDeliveryVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/quote/kline": {
      "get": {
        "tags": ["行情接口"],
        "summary": "k线",
        "operationId": "klineUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "contract",
            "description": "行情编号",
            "required": true,
            "schema": { "type": "string" }
          },
          { "in": "body", "name": "type", "description": "K线类型", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/MultiResponse«KlineVO»", "originalRef": "MultiResponse«KlineVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/quote/klineNew": {
      "get": {
        "tags": ["行情接口"],
        "summary": "分时线(新)",
        "operationId": "klineQryUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "contract",
            "description": "行情编号",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "in": "body",
            "name": "type",
            "description": "K线类型 今日：ONE_MINUTE 近5日：FIVE_MINUTE 近30日：THIRTY_MINUTE",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«TimelineVO»",
              "originalRef": "SingleResponse«TimelineVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/quote/timeline": {
      "get": {
        "tags": ["行情接口"],
        "summary": "分时线",
        "operationId": "timelineUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "contract",
            "description": "行情编号",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«TimelineVO»",
              "originalRef": "SingleResponse«TimelineVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/risk/oauth/faceVerification/getResult": {
      "get": {
        "tags": ["风控接口"],
        "summary": "人脸识别 查询结果",
        "operationId": "getFaceVerificationResultUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "verificationToken",
            "description": "查询标识",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«VerificationResultVO»",
              "originalRef": "SingleResponse«VerificationResultVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/risk/oauth/faceVerification/getToken": {
      "get": {
        "tags": ["风控接口"],
        "summary": "人脸识别 获取token",
        "operationId": "getFaceVerificationTokenUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "metaInfo",
            "description": "metainfo环境参数",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«VerificationTokenVO»",
              "originalRef": "SingleResponse«VerificationTokenVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/risk/oauth/getUserRiskManageStatus": {
      "get": {
        "tags": ["风控接口"],
        "summary": "查询当前用户是否处于风控",
        "operationId": "getUserRiskManageStatusUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«UserRiskVO»",
              "originalRef": "SingleResponse«UserRiskVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/sms/oauth/verify/code/send": {
      "post": {
        "tags": ["短信接口"],
        "summary": "获取手机验证码(登录态)",
        "operationId": "sendCodeByTokenUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/SendCodeByTokenCmd", "originalRef": "SendCodeByTokenCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/sms/verify/code/send": {
      "post": {
        "tags": ["短信接口"],
        "summary": "获取手机验证码(未登录)",
        "operationId": "sendCodeByMobileUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/SendCodeByMobileCmd", "originalRef": "SendCodeByMobileCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/sys/querySysConfig": {
      "get": {
        "tags": ["设置接口"],
        "summary": "查询用户设置",
        "operationId": "querySysConfigUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«SysConfigVO»",
              "originalRef": "SingleResponse«SysConfigVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/sys/switchRankShow": {
      "get": {
        "tags": ["设置接口"],
        "summary": "切换排行榜显示设置",
        "operationId": "switchRankShowUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«SysConfigVO»",
              "originalRef": "SingleResponse«SysConfigVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/task/oauth/getReward": {
      "post": {
        "tags": ["任务接口"],
        "summary": "领取奖励",
        "operationId": "getRewardUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "getRewardCmd",
            "description": "getRewardCmd",
            "required": true,
            "schema": { "$ref": "#/definitions/GetRewardCmd", "originalRef": "GetRewardCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/task/oauth/list": {
      "get": {
        "tags": ["任务接口"],
        "summary": "任务列表",
        "operationId": "listUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«TaskGroupVO»",
              "originalRef": "MultiResponse«TaskGroupVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/bonus/record/query": {
      "get": {
        "tags": ["用户接口"],
        "summary": "奖励金明细",
        "operationId": "queryBonusRecordUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "date", "in": "query", "description": "查询月份 yyyy-MM", "required": true, "type": "string" },
          {
            "name": "type",
            "in": "query",
            "description": "奖励金类型 0-出账，1-入账",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«UserBonusRecordVO»",
              "originalRef": "MultiResponse«UserBonusRecordVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/loginByCode": {
      "post": {
        "tags": ["用户接口"],
        "summary": "用户登录(验证码)",
        "operationId": "loginByCodeUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "clientIp",
            "description": "clientIp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserLoginByCodeCmd", "originalRef": "UserLoginByCodeCmd" }
          },
          { "name": "udid", "in": "query", "description": "udid", "required": false, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«LoginVO»", "originalRef": "SingleResponse«LoginVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/loginByPassword": {
      "post": {
        "tags": ["用户接口"],
        "summary": "用户登录(密码)",
        "operationId": "loginByPasswordUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "clientIp",
            "description": "clientIp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserLoginByPasswordCmd", "originalRef": "UserLoginByPasswordCmd" }
          },
          { "name": "udid", "in": "query", "description": "udid", "required": false, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«LoginVO»", "originalRef": "SingleResponse«LoginVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/address/create": {
      "post": {
        "tags": ["用户接口"],
        "summary": "新增地址",
        "operationId": "addressCreateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/AddressCreateCmd", "originalRef": "AddressCreateCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/address/delete": {
      "post": {
        "tags": ["用户接口"],
        "summary": "删除地址",
        "operationId": "addressDeleteUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/AddressDeleteCmd", "originalRef": "AddressDeleteCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/address/edit": {
      "post": {
        "tags": ["用户接口"],
        "summary": "编辑地址",
        "operationId": "addressEditUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/AddressEditCmd", "originalRef": "AddressEditCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/address/query": {
      "get": {
        "tags": ["用户接口"],
        "summary": "查询地址",
        "operationId": "addressQueryUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "isDefault",
            "in": "query",
            "description": "默认地址 0-非默认；1-默认",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/MultiResponse«AddressVO»", "originalRef": "MultiResponse«AddressVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/cancelAccount": {
      "post": {
        "tags": ["用户接口"],
        "summary": "注销账号",
        "operationId": "cancelAccountUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserCancelAccountCmd", "originalRef": "UserCancelAccountCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/info": {
      "get": {
        "tags": ["用户接口"],
        "summary": "获取登录用户信息",
        "operationId": "getLoginUserInfoUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«UserVO»", "originalRef": "SingleResponse«UserVO»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/logout": {
      "post": {
        "tags": ["用户接口"],
        "summary": "退出登录",
        "operationId": "logoutUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/randomNickName": {
      "get": {
        "tags": ["用户接口"],
        "summary": "随机获取昵称",
        "operationId": "queryRandomNickNameUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«RandomNickNameVO»",
              "originalRef": "SingleResponse«RandomNickNameVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/updateNickAndHeadPic": {
      "post": {
        "tags": ["用户接口"],
        "summary": "修改头像和昵称",
        "operationId": "updateNickAndHeadPicUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserNickAndHeadPicCmd", "originalRef": "UserNickAndHeadPicCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/oauth/userHeadPicUrl": {
      "get": {
        "tags": ["用户接口"],
        "summary": "获取头像库",
        "operationId": "queryUserHeadPicUrlUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultiResponse«UserHeadPicVO»",
              "originalRef": "MultiResponse«UserHeadPicVO»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/register": {
      "post": {
        "tags": ["用户接口"],
        "summary": "用户注册(验证码)",
        "operationId": "registerUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channelType", "in": "query", "description": "channelType", "required": false, "type": "string" },
          {
            "in": "body",
            "name": "clientIp",
            "description": "clientIp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "clientType",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserRegisterCmd", "originalRef": "UserRegisterCmd" }
          },
          { "name": "idfa", "in": "query", "description": "idfa", "required": false, "type": "string" },
          { "name": "oaid", "in": "query", "description": "oaid", "required": false, "type": "string" },
          { "name": "udid", "in": "query", "description": "udid", "required": false, "type": "string" },
          { "name": "uuid", "in": "query", "description": "uuid", "required": false, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«LoginVO»", "originalRef": "SingleResponse«LoginVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/register/check": {
      "post": {
        "tags": ["用户接口"],
        "summary": "验证手机号是否注册",
        "operationId": "registerCheckUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserRegisterCheckCmd", "originalRef": "UserRegisterCheckCmd" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse«RegisterCheckVO»",
              "originalRef": "SingleResponse«RegisterCheckVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/registerOrLogin": {
      "post": {
        "tags": ["用户接口"],
        "summary": "用户注册&登录(验证码)",
        "operationId": "registerOrLoginUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channelType", "in": "query", "description": "channelType", "required": false, "type": "string" },
          {
            "in": "body",
            "name": "clientIp",
            "description": "clientIp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "clientType",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserRegisterOrLoginCmd", "originalRef": "UserRegisterOrLoginCmd" }
          },
          { "name": "idfa", "in": "query", "description": "idfa", "required": false, "type": "string" },
          { "name": "oaid", "in": "query", "description": "oaid", "required": false, "type": "string" },
          { "name": "udid", "in": "query", "description": "udid", "required": false, "type": "string" },
          { "name": "uuid", "in": "query", "description": "uuid", "required": false, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«LoginVO»", "originalRef": "SingleResponse«LoginVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/registerOrLogin/oneClick": {
      "post": {
        "tags": ["用户接口"],
        "summary": "一键注册登录",
        "operationId": "registerOrLoginByOneClickUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channelType", "in": "query", "description": "channelType", "required": false, "type": "string" },
          {
            "in": "body",
            "name": "clientIp",
            "description": "clientIp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "clientType",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterOrLoginByOneClickCmd",
              "originalRef": "RegisterOrLoginByOneClickCmd"
            }
          },
          { "name": "idfa", "in": "query", "description": "idfa", "required": false, "type": "string" },
          { "name": "oaid", "in": "query", "description": "oaid", "required": false, "type": "string" },
          { "name": "udid", "in": "query", "description": "udid", "required": false, "type": "string" },
          { "name": "uuid", "in": "query", "description": "uuid", "required": false, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SingleResponse«LoginVO»", "originalRef": "SingleResponse«LoginVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/api/user/resetPassword": {
      "post": {
        "tags": ["用户接口"],
        "summary": "重置登录密码",
        "operationId": "resetPasswordUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cmd",
            "description": "cmd",
            "required": true,
            "schema": { "$ref": "#/definitions/UserResetPasswordCmd", "originalRef": "UserResetPasswordCmd" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Response", "originalRef": "Response" } },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "AddressCreateCmd": {
      "type": "object",
      "required": ["receivingAddress", "receivingMobile", "receivingName", "region"],
      "properties": {
        "isDefault": { "type": "integer", "format": "int32", "description": "默认地址 0-非默认；1-默认" },
        "receivingAddress": { "type": "string", "description": "详细地址" },
        "receivingMobile": { "type": "string", "description": "收货人手机号" },
        "receivingName": { "type": "string", "description": "收货人姓名" },
        "region": { "type": "string", "description": "所在地区" }
      },
      "title": "AddressCreateCmd"
    },
    "AddressDeleteCmd": {
      "type": "object",
      "required": ["id"],
      "properties": { "id": { "type": "string", "description": "地址ID" } },
      "title": "AddressDeleteCmd"
    },
    "AddressEditCmd": {
      "type": "object",
      "required": ["id", "receivingAddress", "receivingMobile", "receivingName", "region"],
      "properties": {
        "id": { "type": "string", "description": "地址ID" },
        "isDefault": { "type": "integer", "format": "int32", "description": "默认地址 0-非默认；1-默认" },
        "receivingAddress": { "type": "string", "description": "详细地址" },
        "receivingMobile": { "type": "string", "description": "收货人手机号" },
        "receivingName": { "type": "string", "description": "收货人姓名" },
        "region": { "type": "string", "description": "所在地区" }
      },
      "title": "AddressEditCmd"
    },
    "AddressVO": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "description": "地址ID" },
        "isDefault": { "type": "integer", "format": "int32", "description": "默认地址 0-非默认；1-默认" },
        "receivingAddress": { "type": "string", "description": "详细地址" },
        "receivingMobile": { "type": "string", "description": "收货手机号" },
        "receivingName": { "type": "string", "description": "收货人名称" },
        "region": { "type": "string", "description": "所在地区" }
      },
      "title": "AddressVO"
    },
    "Amount": {
      "type": "object",
      "properties": {
        "recharge": { "type": "number", "description": "充值金额" },
        "reward": { "type": "string", "description": "奖励标语" }
      },
      "title": "Amount"
    },
    "AppInitVO": { "type": "object", "title": "AppInitVO" },
    "AppLogCollectCmd": {
      "type": "object",
      "required": ["log"],
      "properties": { "log": { "type": "string", "description": "日志" } },
      "title": "AppLogCollectCmd"
    },
    "AppVersionVO": {
      "type": "object",
      "properties": {
        "desc": { "type": "string", "description": "描述" },
        "downloadLink": { "type": "string", "description": "安装包下载链接" },
        "updateType": {
          "type": "integer",
          "format": "int32",
          "description": "更新类型 0-不提醒；1-提醒更新；2-强制更新"
        },
        "versionCode": { "type": "integer", "format": "int32", "description": "版本号编码" },
        "versionName": { "type": "string", "description": "版本号" }
      },
      "title": "AppVersionVO"
    },
    "BalanceVO": {
      "type": "object",
      "properties": {
        "balance": { "type": "number", "description": "余额" },
        "bonus": { "type": "number", "description": "奖励金" },
        "canWithdrawBalance": { "type": "number", "description": "可提现余额" },
        "orderAmount": { "type": "number", "description": "订购金额" },
        "rewardsPoints": { "type": "integer", "format": "int32", "description": "积分" }
      },
      "title": "BalanceVO"
    },
    "BannerVO": {
      "type": "object",
      "properties": {
        "link": { "type": "string", "description": "链接" },
        "picture": { "type": "string", "description": "图片地址" },
        "title": { "type": "string", "description": "标题" }
      },
      "title": "BannerVO"
    },
    "CardBindingInfoVO": {
      "type": "object",
      "properties": {
        "bankAccount": { "type": "string", "description": "银行卡号" },
        "bankCode": { "type": "string", "description": "银行编码" },
        "bankIcon": { "type": "string", "description": "银行图标" },
        "bankName": { "type": "string", "description": "银行名称" },
        "certNo": { "type": "string", "description": "持卡人身份证号" },
        "name": { "type": "string", "description": "持卡人姓名" },
        "phone": { "type": "string", "description": "手机号" }
      },
      "title": "CardBindingInfoVO"
    },
    "CardUnbindCmd": {
      "type": "object",
      "required": ["payType", "verifyCode"],
      "properties": {
        "payCode": { "type": "string", "description": "支付渠道" },
        "payType": { "type": "integer", "format": "int32", "description": "渠道类型 1-充值 2-提现" },
        "verifyCode": { "type": "string", "description": "验证码" }
      },
      "title": "CardUnbindCmd"
    },
    "CashierPayCmd": {
      "type": "object",
      "required": ["amount", "payCode"],
      "properties": {
        "amount": { "type": "number", "description": "金额" },
        "payCode": { "type": "string", "description": "支付渠道" }
      },
      "title": "CashierPayCmd"
    },
    "CashierPayVO": {
      "type": "object",
      "properties": {
        "htmlStr": { "type": "string", "description": "html 代码片段" },
        "orderNum": { "type": "string", "description": "订单号" },
        "url": { "type": "string", "description": "收银台地址" }
      },
      "title": "CashierPayVO"
    },
    "ContractOrderCloseCmd": {
      "type": "object",
      "required": ["orderNum"],
      "properties": { "orderNum": { "type": "string", "description": "订单号" } },
      "title": "ContractOrderCloseCmd"
    },
    "ContractOrderCreateCmd": {
      "type": "object",
      "required": ["bottomPoint", "contractType", "direction", "number", "productId", "topPoint"],
      "properties": {
        "bottomPoint": { "type": "number", "description": "止损浮动点数" },
        "contractType": { "type": "integer", "format": "int32", "description": "订购方式 1-现金；2-券；3-积分" },
        "couponId": { "type": "string", "description": "券ID" },
        "direction": { "type": "integer", "format": "int32", "description": "下单方向 1-结算价预定；2-下单价预定" },
        "number": { "type": "integer", "format": "int32", "description": "份数" },
        "productId": { "type": "string", "description": "产品ID" },
        "topPoint": { "type": "number", "description": "止盈浮动动点数" }
      },
      "title": "ContractOrderCreateCmd"
    },
    "ContractOrderDeliveryCmd": {
      "type": "object",
      "required": ["addressId", "deliveryNumber", "orderNum"],
      "properties": {
        "addressId": { "type": "string", "description": "地址ID" },
        "couponId": { "type": "string", "description": "券ID" },
        "deliveryNumber": { "type": "integer", "format": "int32", "description": "提货数量" },
        "orderNum": { "type": "string", "description": "订单号" }
      },
      "title": "ContractOrderDeliveryCmd"
    },
    "ContractOrderDeliveryVO": {
      "type": "object",
      "properties": {
        "address": { "description": "默认收货地址", "$ref": "#/definitions/AddressVO", "originalRef": "AddressVO" },
        "couponId": { "type": "string", "description": "券ID" },
        "lossCost": { "type": "number", "description": "损耗费用" },
        "materialCost": { "type": "number", "description": "辅料费用" },
        "premiumCost": { "type": "number", "description": "原材料溢价费用" },
        "productName": { "type": "string", "description": "商品名称" },
        "productPic": { "type": "string", "description": "商品图片" },
        "productPrice": { "type": "number", "description": "商品价格" },
        "rawCost": { "type": "number", "description": "原料费用" },
        "taxesCost": { "type": "number", "description": "税费" },
        "technologyCost": { "type": "number", "description": "工艺费" }
      },
      "title": "ContractOrderDeliveryVO"
    },
    "ContractOrderUpdateCmd": {
      "type": "object",
      "required": ["orderNum"],
      "properties": {
        "bottomPoint": { "type": "number", "description": "止损浮动点数" },
        "closeOvernight": { "type": "boolean", "description": "关闭持仓过夜" },
        "orderNum": { "type": "string", "description": "订单号" },
        "topPoint": { "type": "number", "description": "止盈浮动动点数" }
      },
      "title": "ContractOrderUpdateCmd"
    },
    "CouponVO": {
      "type": "object",
      "properties": {
        "categoryId": { "type": "string", "description": "分类编号" },
        "code": { "type": "string", "description": "编码" },
        "contract": { "type": "string", "description": "行情编号" },
        "couponId": { "type": "string", "description": "券ID" },
        "couponName": { "type": "string", "description": "券名称" },
        "expireTime": { "type": "integer", "format": "int64", "description": "过期时间" },
        "expireTimeStr": { "type": "string", "description": "过期时间" },
        "faceValue": { "type": "number", "description": "面值" },
        "sceneType": { "type": "integer", "format": "int32", "description": "使用场景 1-订购；2-提货；3-零售" },
        "skuId": { "type": "string", "description": "商品ID" }
      },
      "title": "CouponVO"
    },
    "DeliveryConfirmReceivedCmd": {
      "type": "object",
      "required": ["deliveryOrderNum"],
      "properties": { "deliveryOrderNum": { "type": "string", "description": "订单号" } },
      "title": "DeliveryConfirmReceivedCmd"
    },
    "DeliveryOrderVO": {
      "type": "object",
      "properties": {
        "deliveryOrderNum": { "type": "string", "description": "提货单号" },
        "deliveryProductPic": { "type": "string", "description": "商品图片" },
        "number": { "type": "integer", "format": "int32", "description": "提货数量" },
        "productName": { "type": "string", "description": "商品名称" },
        "productPrice": { "type": "number", "description": "商品价格" },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "订单状态 1-已付款；2-已发货；3-已完成；4-已关闭"
        }
      },
      "title": "DeliveryOrderVO"
    },
    "EconomicCalendarVO": {
      "type": "object",
      "properties": {
        "actual": { "type": "string", "description": "公布值" },
        "cateId": { "type": "string", "description": "/" },
        "consensus": { "type": "string", "description": "预测值" },
        "country": { "type": "string", "description": "国家" },
        "countryCount": { "type": "integer", "format": "int32", "description": "/" },
        "countryImg": { "type": "string", "description": "国旗" },
        "date": { "type": "string", "description": "日期" },
        "datetime": { "type": "string", "description": "时间" },
        "detailId": { "type": "integer", "format": "int32", "description": "详情ID" },
        "isFirst": { "type": "integer", "format": "int32", "description": "/" },
        "isImportant": { "type": "integer", "format": "int32", "description": "是否重要" },
        "previous": { "type": "string", "description": "前值" },
        "revised": { "type": "string", "description": "/" },
        "star": { "type": "integer", "format": "int32", "description": "星数" },
        "starImg": { "type": "string", "description": "星数图片" },
        "statusName": { "type": "string", "description": "影响" },
        "title": { "type": "string", "description": "标题" },
        "unit": { "type": "string", "description": "单位" },
        "updateTimestamp": { "type": "integer", "format": "int32", "description": "更新时间" }
      },
      "title": "EconomicCalendarVO"
    },
    "EconomicFlashDataVo": {
      "type": "object",
      "properties": {
        "content": { "type": "string", "description": "内容" },
        "pic": { "type": "string", "description": "图片" }
      },
      "title": "EconomicFlashDataVo"
    },
    "EconomicFlashVO": {
      "type": "object",
      "properties": {
        "channel": { "type": "array", "description": "/", "items": { "type": "integer", "format": "int32" } },
        "data": {
          "description": "数据",
          "$ref": "#/definitions/EconomicFlashDataVo",
          "originalRef": "EconomicFlashDataVo"
        },
        "id": { "type": "string", "description": "id" },
[...]
